{% extends '_layout.html' %}

{% block title %}Results{% endblock %}

{% block content %}
<div class="row">
    <h1>Results of checking your website</h1>
    <p>Use "fixed" button to notify, that you have corrected the typo. Later, we will check it once more,
        if the misprint really was fixed.</p>
    <p>Use "ignore" button, if the misprint is not really a misprint.
        Proper names or some specific words can be detected as typos. Once you pressed "ignore" button,
        the misprint will be removed from your project forever.
    </p>
</div>
<div class="row">
    <div id="errors-container" class="span8">
        <div class="row ortho-error-row js-template">
            <div class="ortho-error">
                <div class="error-header">
                    <div class="pull-right">
                        <div class="btn-group pull-right" style="width: 125px; margin: 5px auto;">
                            <a class="btn btn-success fix" onclick="">Fixed</a>
                            <a class="btn ignore" onclick="">Ignore</a>
                        </div>
                    </div>
                    <div><h4><span class="error-word">Удлыоввовоывлл-флыво</span> <span class="help-block">found on
                            <a class="toggle-url-list" href="#">301400 pages</a></span></h4></div>
                    <div class="help-block variants">промышленности, недоумевая, сторонник</div>
                    <input type="hidden" class="error_id" />
                </div>
                <div class="urlList hide">
                </div>
            </div>
        </div>
    </div>
    <div id="project-stats-container" class="span4">
        <div class="project-stats well">
            <h2>Project stats</h2>
            <ul>
                <li>Total typos: <span id="typos_to_review"></span></li>
                <li>Typos ignored: <span id="typos_ignored"></span></li>
                <li>Pages analyzed: <span id="pages_analyzed"></span></li>
                <li>Pages left to scan: <span id="pages_left_to_download"></span></li>
                <li>Pages left to check: <span id="pages_left_to_check">    </span></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
    {% parent %}
    <script type="text/javascript" src="/static/js/project.js"></script>
    <script type="text/javascript">
        $(function() {
            var preloaded_typos = [];
            var $tpl = $(".js-template.ortho-error-row");
            var $container = $('#errors-container');
            var TYPOS_PER_PAGE = 5;

            $(document).on('click', "a.toggle-url-list", function() {
                $(this).closest(".ortho-error").find(".urlList").slideToggle();
            });
            $(document).on('click', "a.ignore", function() {
                var $el = $(this).closest(".ortho-error");
                var id = $el.find(".error_id").val();
                $.ajax({url: serverUrl + 'typos/' + id + '/ignore'}).done(function() {
                    $el.remove();
                    renderTypo(preloaded_typos.shift(), $tpl, $container);
                });
            });
            $(document).on('click', "a.fix", function() {
                var $el = $(this).closest(".ortho-error");
                var id = $el.find(".error_id").val();
                $.ajax({url: serverUrl + 'typos/' + id + '/fixed'}).done(function() {
                    $el.remove();
                    renderTypo(preloaded_typos.shift(), $tpl, $container);
                });
            });


            getProjectId(function(project_id) {
                setInterval(function() {
                    updateProjectStats(project_id);
                    if (preloaded_typos.length < 10) {
                        loadTypos(project_id, function(typos) {
                            preloaded_typos = typos;
                        });
                    }
                }, 100);

                loadTypos(project_id, function(typos){
                    for (var i = 0; i < TYPOS_PER_PAGE; i++) {
                        var typo = typos.shift();
                        renderTypo(typo, $tpl, $container);
                    }
                    window.asyncLoadDone();
                });
            });
        });
    </script>
{% endblock %}
{% block sync %}{% endblock%}
