{% extends '_layout.html' %}

{% block title %}Results{% endblock %}

{% block content %}
    <div>
        <h1>About Spell Checker</h1>
        {% if success %}
            <div class="span12">
                <div class="row no-errors well">
                    <h3>Thanks a lot!</h3>
                    <p>We have received your email. We will reply in the nearest future.</p>
                </div>
            </div>
        {% endif %}
        <p>Spell Checker service was done by russian command of web developers to make the web cleaner of misprints.
            Fixing all the misprints on your website, you can increase you visitors' loyality and trust, increase number of sales.
        </p>
        <p>Our service does not find all the mistakes, because there is no technology for the moment to discover all mistakes in text.
            But we can help you to fix some basic errors. You can do it by yourself, using some services, which check the spelling of single text.</p>
        <p>Our main value - is that we can check the whole website. Imagine, you have a website with 3000 pages. How much time would you spend
            by copying and pasting 3000 texts? With our service you just type in your website url and we will check all the 3000 pages.</p>
        <p>The results are grouped by errors, so that you can easily skip false positive. Also with our reports you can
            easily see, which pages you have this typo on.</p>
    </div>
    {% if !success %}
        <form method="post" id="send-form">
                <label for="email">Email Address</label>
                <input id="email" name="email" type="text" class="span3" placeholder="Your email address">
                <label for="message">Message</label>
                <textarea name="message" id="message" class="input-xlarge span5" rows="10"></textarea><br />
                <button id="send" type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
    {% endif %}
{% endblock %}
{% block footer %}
    {% parent %}
    <script type="text/javascript" src="/static/js/about.js"></script>
{% endblock %}

