{% extends '_layout.html' %}

{% block title %}Results{% endblock %}

{% block content %}
<div class="row">
    <h1>Results of checking your website</h1>
    <p>Use "fixed" button to notify, that you have corrected the typo. Later, we will check it once more,
        if the misprint really was fixed.</p>
    <p>Use "ignore" button, if the misprint is not really a misprint.
        Proper names or some specific words can be detected as typos. Once you pressed "ignore" button,
        the misprint will be removed from your project forever.
    </p>
</div>
<div class="row">
    <div class="span8">
        <div class="row wait-errors js-template" style="text-align: center">
            <img src="/static/img/loader.gif" style="width: 160px; margin-top: 30px"/>
        </div>
        <div class="row no-errors well js-template" style="background: #dff0d8">
            <h3 style="margin-top: 0px">Wow! Looking good!</h3>
            <p>
                Our robots found no misprints on the entire site.
                Maybe we are missing something &mdash; we're just in early access.
                Let us know by <a href="#">dropping a letter to vbo@vbo.name</a>.
            </p>
        </div>
        <div class="project-errors-container">
            <div class="row ortho-error-row js-template">
                <div class="ortho-error">
                    <div class="error-header">
                        <div class="pull-right">
                            <div class="btn-group pull-right" style="width: 125px; margin: 5px auto;">
                                <a class="btn btn-success fix" onclick="">Fixed</a>
                                <a class="btn ignore" onclick="">Ignore</a>
                            </div>
                        </div>
                        <div><h4><span class="error-word">Удлыоввовоывлл-флыво</span> <span class="help-block">found on
                                <a class="toggle-url-list" href="#">301400 pages</a></span></h4></div>
                        <div class="help-block variants">промышленности, недоумевая, сторонник</div>
                        <input type="hidden" class="error_id" />
                    </div>
                    <div class="urlList hide">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="project-stats-container" class="span4">
        <div class="project-stats well">
            <h2>Project stats</h2>
            <ul>
                <li>Typos to review: <span id="typos_to_review"></span></li>
                <li>Typos ignored: <span id="typos_ignored"></span></li>
                <li>Pages left to check: <span id="pages_left_to_check"></span></li>
                <li>Pages downloaded: <span id="pages_downloaded"></span></li>
                <li>Pages left to download: <span id="pages_left_to_download"></span></li>
            </ul>
            <p id="pages_limit"></p>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
    {% parent %}
    <script type="text/javascript" src="/static/js/project.js"></script>
    <script type="text/javascript">
        $(function() {
            var preloaded_typos = [];
            var reviewed_cache = {};
            var $tpl = $(".js-template.ortho-error-row");
            var $container = $tpl.parent();
            var $loader = $(".js-template.wait-errors");
            var $success = $(".js-template.no-errors");
            var TYPOS_PER_PAGE = 5;

            $(document).on('click', "a.toggle-url-list", function() {
                $(this).closest(".ortho-error").find(".urlList").slideToggle();
            });
            $(document).on('click', "a.ignore", function() {
                var $el = $(this).closest(".ortho-error");
                var id = $el.find(".error_id").val();
                $.ajax({url: serverUrl + 'typos/' + id + '/ignore'}).done(function() {
                    hideErrorAnimated($el);
                    reviewed_cache[id] = true;
                    ensureHasTypoToRender();
                });
            });
            $(document).on('click', "a.fix", function() {
                var $el = $(this).closest(".ortho-error");
                var id = $el.find(".error_id").val();
                $.ajax({url: serverUrl + 'typos/' + id + '/fixed'}).done(function() {
                    hideErrorAnimated($el);
                    reviewed_cache[id] = true;
                    ensureHasTypoToRender();
                });
            });

            var hideErrorAnimated = function($el) {
                $el.animate({
                    opacity: 0
                }, 'fast', function() {
                    $el.slideUp(function() {
                        $el.remove();
                    });
                })
            };

            var ensureHasTypoToRender = function() {
                var numOfTyposOnScreen = $(".error_id").length;
                for (var i = numOfTyposOnScreen; i <= TYPOS_PER_PAGE; i++) {
                    var typo = getTypoToBubble();
                    if (!typo) {
                        break;
                    }
                    renderTypo(typo, $tpl, $container);
                }
            };

            var getTypoToBubble = function() {
                var errorsOnScreen = [];
                $(".error_id").each(function() {
                    errorsOnScreen[$(this).val()] = true;
                });
                for (var i in preloaded_typos) {
                    var id = preloaded_typos[i]._id;
                    if (!errorsOnScreen[id] && !reviewed_cache[id]) {
                        return preloaded_typos[i];
                    }
                }
                return null;
            };

            getProjectId(function(project_id) {
                var poll = function () {
                    updateProjectStats(project_id, function (stats) {
                        loadTypos(project_id, function(typos) {
                            preloaded_typos = typos;
                            if (!typos.length) {
                                $container.hide();
                                console.log(stats);
                                if (stats.pages_left_to_check || stats.pages_left_to_download || !stats.project_started_at) {
                                    $success.hide();
                                    $loader.show();
                                } else {
                                    $success.show();
                                    $loader.hide();
                                }
                            } else {
                                $loader.hide();
                                $success.hide();
                                $container.show();
                            }
                            ensureHasTypoToRender();
                            setTimeout(poll, 50);
                            window.asyncLoadDone();
                        });
                    }); 
                };
                poll();
            });
        });
    </script>
{% endblock %}
{% block sync %}{% endblock%}
